body {
    display : grid;
    grid-template-rows: 0.20fr 1fr 1fr;
    height:100vh;
    width:100vw;
    font-family: 'Oswald', sans-serif;
}
body > main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
body > header {
    background-color:#ffffff ;
    color : #253879;
    font-size: 2.5em;
    text-align: center;
    padding: 0.5em;
    font-family: 'Oswald', sans-serif;
}
body > main > section > h2 {
    background-color:#3a61ef ;
    color : #ffffff;
    font-size: 2.5em;
    text-align: center;
    padding: 0.5em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top:0;
}
input[type='button'] {
    background-color:#3a61ef ;
    color : #ffffff;
    text-align: center;
    font-size: 0.75em;
    padding:1em;
    border:none;
}
body > main > section:first-of-type {
    border-right: 1px solid #253879;
    background-color:#ffffff;
}
body > main > section:nth-child(2)  {
    border-right: 1px solid #253879;
    background-color:#ffffff;
    }
    body > main > section:nth-child(2) > div:first-of-type
{   
    padding:1em;
    display:grid;   
    grid-template-columns:1fr 1fr;
}    
body > main > section:nth-child(2) > div::nth-child(2)  {
    grid-column: 1 / 2;
}
body > main > section:nth-child(2) > div:nth-child(3)  {
    grid-column: 2 / 2;
}
body > main > section:nth-child(2) > div::nth-child(4)  {
    grid-column: 1 / 2;
}
body > main > section:nth-child(2) > div:nth-child(5)  {
    grid-column: 2 / 2;
}
body > main > section:nth-child(2) > div:nth-child(6)  {
    grid-column: 1 / 2;
}
body > main > section:last-of-type {
    background-color:#ffffff;
}
body > main > section:last-of-type > div:first-of-type  {
    padding:1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body > main > section:last-of-type > div:nth-child(2)  {
    grid-column: 1 / 2;
}
body > main > section:last-of-type > div:nth-child(3)  {
    grid-column: 2 / 2;
}

body > main > section:first-of-type > div:not(:last-child)  {
    padding:1em;
    display: grid;
    grid-template-columns: 1fr;
}
#btn1{
    background-color:#dfe4f7;
    line-height:1.8em;
    border:none;
}
#btn2 {
    background-color:#dfe4f7;
    line-height:1.8em;
    border:none;
}
#btn3 {
    background-color:#dfe4f7;
    line-height:1.8em;
    border:none;
}
body > footer {
    background-color:#253879;
    width: 100%;
	height: 50px;
}




/*
font-family: 'Work Sans', sans-serif;
font-family: 'Oswald', sans-serif;
bleu : #3a61ef;  
bleu foncé : #253879;  
bleu clair : #dfe4f7;  
blanc cassé : #eafbf0;  
blanc : #ffffff;  
rouge : #d9022f;  
vert : #1e7062;  
noir : #0d0f0f;
*/